.parallelogram {
    animation: 1s ease-out 0s 1 slideInFromLeftTilted;
    position: absolute;
    z-index: 1;
    width: 90vw;
    height: 40vw;
    transform: skew(-45deg);
    margin-left: -54%;
    background: rgb(109, 114, 116);
}

.name{
    animation: 1s ease-out 0s 1 slideInFromLeftName;
    position: absolute;
    margin-top: 15%;
    margin-left: 2%;
    font-size: 5vw;
    z-index: 2
}

.title{
    animation: 1s ease-out 0s 1 slideInFromLeftTitle;
    position: absolute;
    margin-top: 15%;
    margin-left: 40%;
    font-size: 5vw;
    z-index: 1;
    color: rgb(109, 114, 116);
}

.rectangle {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    position: relative;
    width: 100vw;
    height: 40vw;
    background: rgb(0, 0, 0);
}

.grid{
  display: grid;
  grid-column-gap: 1vw;
  grid-row-gap: 4vh;  
  grid-template-columns: 50vw 11vw 10vw 20vw;
  grid-template-rows: 1vh 5vw 3vw 8vw;
}

.gridContainer{
  display: grid;
  width: 39vw;
  height: 20vw;
  margin-left: 3vw;
  margin-top: 3vw;
  grid-template-columns: repeat(40, 2vw);
  grid-template-rows: repeat(40, 1vw);
  margin-bottom: 5vh;
  overflow: hidden;
}

.hLine{
  width: 100%;
  height: .1vw;
  margin-top: .5vw;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 21;
}
.vLine{
  grid-row-start: 1;
  grid-row-end: 21;
  width: .1vw;
  height: 100%;
  margin-left: calc(.5vw);
  background-color: black;
}


.circle1{
  width: 1vw;
  height: 1vw;
  margin-top: calc(25% - .5vw);
  border-radius: 50%;
  background-color: black;
}

.addCave{
  grid-row: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.caveInputx{
  grid-column-start: 2;
  grid-row: 2;
}

.caveInputy{
  grid-column-start: 3;
  grid-row: 2;
}

.formGrid{
  width: 25vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.caveList{
  height: 20vw;
  overflow-y: scroll;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.red{
  background-color: red;
}

.MuiListItem-container-94:hover{
  background: rgb(109, 114, 116);
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeftTitle {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromLeftName {
    0% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromLeftTilted {
    0% {
      transform: translateX(-20%) skew(-45deg);
    }
    100% {
      transform: translateX(0) skew(-45deg);
    }
  }
