.parallelogram {
    animation: 1s ease-out 0s 1 slideInFromLeftTilted;
    position: absolute;
    z-index: 1;
    width: 90vw;
    height: 40vw;
    transform: skew(-45deg);
    margin-left: -54%;
    background: rgb(109, 114, 116);
}

.name{
    animation: 1s ease-out 0s 1 slideInFromLeftName;
    position: absolute;
    margin-top: 15%;
    margin-left: 2%;
    font-size: 5vw;
    z-index: 2
}

.title{
    animation: 1s ease-out 0s 1 slideInFromLeftTitle;
    position: absolute;
    margin-top: 15%;
    margin-left: 40%;
    font-size: 5vw;
    z-index: 1;
    color: rgb(109, 114, 116);
}

.rectangle {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    position: relative;
    width: 100vw;
    height: 40vw;
    background: rgb(0, 0, 0);
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeftTitle {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromLeftName {
    0% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromLeftTilted {
    0% {
      transform: translateX(-20%) skew(-45deg);
    }
    100% {
      transform: translateX(0) skew(-45deg);
    }
  }
